<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <link href="//db.onlinewebfonts.com/c/f16b07c3fd5b4fd150cc55daa3a12428?family=Bebas+Neue+Book" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        body div img {
            width: 100%;
        }
    </style>
</head>
<body style="font-family: 'DejaVu Sans Mono'; max-width: 600px; margin-left: auto; margin-right: auto;">
    <h2 style="align-self: center">Hi there!</h2>
    <p style="align-self: center">You were registered for <b>ToDo</b> application. We should know if you are owner of this email address.</p>
    <a href='{{ url }}' type="button" style="align-self: center" > <button>It's my email</button> </a>
</body>
